# Keycloak Configuration
# For Keycloak 17+: Use URL without /auth
# For Keycloak 16 and below: Add /auth suffix
NEXT_PUBLIC_KEYCLOAK_URL=https://keycloak-hostname
NEXT_PUBLIC_KEYCLOAK_REALM=realm-name
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=fdomoment-client

# Database for persisting PIDs and stats
# DATABASE_TYPE = postgres | in-memory
#   in-memory: Server-sided in memory database (for testing)
#   postgres: PostgreSQL database 
DATABASE_TYPE=in-memory

# Settings for postgres
# POSTGRES_HOST=localhost
# POSTGRES_POST=5432
# POSTGRES_DATABASE=fdomoment
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres

# FDO service used to register FDOs
# FDO_SERVICE_MODE = local | remote
#   local: Local PIDs with file-based persistence (for testing)
#   remote: Globally unique PIDs using Typed PID Maker instance
FDO_SERVICE_MODE=local

# Settings for Typed PID Maker
# REMOTE_FDO_SERVICE_ENDPOINT=https://typed-pid-maker.datamanager.kit.edu/stable

# Comma separated list of trusted sparql endpoints usable by SparqlAutocomplete
TRUSTED_SPARQL_URLS="https://vocabularies.unesco.org/sparql"
